{% extends 'layout.html' %}

{% block body %}
  <h1>Edit Product</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.name, class_="form-control", id="name") }}
    </div>
    <div class="form-group">
      {{ render_field(form.price, class_="form-control", id="price") }}
    </div>
    <div class="form-group">
      {{ render_field(form.quantity, class_="form-control", id="quantity") }}
    </div>
    <p><input class="btn btn-primary" type="submit" value="Submit" id="Submit">
  </form>
{% endblock %}
