{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome To App4Test</h1>
    <p class="lead">This is a small python application that I made to try on 4 types of software testing and a DevOps pipeline.</p>
    <p>Please register and login to access the CRUD products app</p>
    {% if session.logged_in == NULL %}
      <a href="/register" class="btn btn-primary btn-lg" id="Register">Register</a>
      <a href="/login" class="btn btn-success btn-lg" id="Login">Login</a>
    {% else %}
      <a href="/productapp" class="btn btn-primary btn-lg" id="ProductApp">ProductApp</a>
      <a href="/logout" class="btn btn-primary btn-lg" id="Logout">Logout</a>
    {% endif %}
  </div>
{% endblock %}
