{% extends 'layout.html' %}

{% block body %}
  <h1>ProductApp <small> Welcome {{session.username}}</small></h1>
  <a class="btn btn-success" href="/add_product">Add Product</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
    </tr>
    {% for product in products %}
      <tr>
        <td>{{product[0]}}</td>
        <td>{{product[1]}}</td>
        <td>{{product[2]}}</td>
        <td>{{product[3]}}</td>
        <td><a href="edit_product/{{product.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_product', id=product.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
